body {
    background-color: powderblue;
}

.main {
    text-align: center;
}
.confirm {
    text-align: center;
}
.result {
    text-align: center;
}
.resulttext {
    color: darkred;
}
.input{
    color: darkred;
}
