<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> MED </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main">
        <form>
            <p>GA : <input type="number" id="ga" maxlength="2" min="35" max="50" ></p>
            <p>Age : <input type="number" id="age" maxlength="3" max="336"></p>
            <p>Tcb/MB : <input type="number" id="tcb" maxlength="2" max="99"></p>
            <span> Risk </span>
            <input type="radio" name="risk" id="low" value="low" checked>
            <label> Low </label>
            <input type="radio" name="risk" id="high" value="high">
            <label> High </label>
            <p>Birth <input type="datetime-local" id="time1"> </p>
            <p>Measure <input type="datetime-local" id="time2"> </p>
            <input type="submit" value="Submit" onclick="return myFunction()">
        </form>
    </div>

    <div class="confirm">
        <p> GA <span id="getga" class="input"></span></p>
        <p> Age <span id="getage" class="input"></span></p>
        <p> Risk <span id="getrisk" class="input"></span></p>
        <p> MB <span id="getmb" class="input"></span></p>
    </div>

    <div class="result">
        <p> Photo <span id="getrisk"></span></p>
        <p> Transfusion <span id="getrisk"></span></p>
    </div>

    <script src="{{url_for('static', filename='js/scripts1.js')}}"></script>

</body>
</html>